<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
         coverageHtml="./report"
         strict="true"
         verbose="true"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="@todo">
            <directory>tests/Test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory>src/Application/Migrations/</directory>
                <directory>src/Application/Upgrades/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./phpunit-coverage" highlight="true"
            lowUpperBound="33" highLowerBound="66" />
    </logging>
</phpunit>
