<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Synapse">
            <directory>tests/SynapseTest</directory>
        </testsuite>
    </testsuites>
</phpunit>