<form action="{{submitUrl}}" method="get">
    {{#vars}}
    <input type="hidden" name="{{name}}" value="{{value}}" />
    {{/vars}}
    <label for="username">Email</label>
    <input type="text" name="username" placeholder="email@example.com" />
    <label for="password">Password</label>
    <input type="password" name="password" />

    <input type="submit" value="Submit" />
</form>