<?php

namespace Application\Migrations;

use Synapse\Migration\AbstractMigration;

/**
 * {{description}}
 */
class {{classname}} extends AbstractMigration
{
    /**
     * Run database queries to apply this migration
     */
    public function execute()
    {
        // $this->db->query();
    }
}
