<?php

namespace Application\Migrations;

use Synapse\Migration\AbstractMigration;
use Zend\Db\Adapter\Adapter as DbAdapter;

/**
 * {{description}}
 */
class {{classname}} extends AbstractMigration
{
    /**
     * Run database queries to apply this migration
     */
    public function execute(DbAdapter $db)
    {
        // $db->query();
    }
}
